.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e2e8;
    width: 100%;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #000000;
    flex-direction: column;
}

.title {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    padding: 10px;
}